
.main-form{
    background-color: white;    
    font-size: 20px;    
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    

    &-header {
        margin-left:1vw;
        font-weight: 550;
        font-size: 23px;  
        margin-bottom: 45px;              
    }    
    color: black;
    margin-top: 5vh;    
    margin-bottom: 4vh;

    &-btn-create{ 
        margin-left:1vw;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        background-color: black;
        color: white;
        margin-top: 30px;
        margin-bottom: 45px;
        height: 40px;        
        border: 0;
        &:hover {
            background-color: #575756;
          }
    }   
}

.form-label{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 2.5vw;
    width: 95vw;
}

.form-obj{
    width: 90vw;
    height: 46px;
    margin-right: 2.5vw;
    margin-bottom: 45px;
    margin-left: 2.5vw;
}

.form-obj-multi{
    display: inline-block;
}

.form-obj-date{
    width: 30vw;
    margin-right: 2.5vw;
    margin-bottom: 45px;
    margin-left: 2.5vw;
}

.form-obj-radio{
    border: 2px solid;
    border-radius: 50%;
    height: 46px;    
    width: 46px;    
    margin-right: 2.5vw;    
    margin-left: 2.5vw;
    background-color: white;
    &-checked{
        border: 12px solid;        
        border-radius: 50%;
        height: 46px;    
        width: 46px;    
        margin-right: 2.5vw;    
        margin-left: 2.5vw;
        background-color: white;
    }
}

.form-radio-label{
    font-size: 16px;
    font-weight: bold;    
    margin-bottom: 1px;
    margin-left: 2.5vw        
}


.form-obj-radio{
    margin-bottom: 46px;
    display: inline-block;
}

.form-obj-desc{
    width: 90vw;
    height: 131px;
    margin-right: 2.5vw;
    margin-bottom: 45px;
    margin-left: 2.5vw;
}

.form-obj-checkbox{
    border: 2px solid black;
    margin-right: 2.5vw;
    margin-bottom: 45px;
    margin-left: 2.5vw;
    background-color: white;
    color: white !important;
    &-checked{
        border: 2px solid black;
        margin-right: 2.5vw;
        margin-bottom: 45px;
        margin-left: 2.5vw;
        
        color: white !important;
        background-color: black;

    }
}

.btns-oper{
    display: inline-block;
    padding-right: 15px;        
    margin-bottom: 30px;

    &-txt{
        padding-right: 15px;
        padding-left: 15px;
        font-size: 14px;            
        color: #7C7C7B;
    }    

    &-btn{
        font-weight: bold;
        font-size: 14px;    
        text-align: center;
        height: 40px;
        background-color: white;
        color: black;
        padding-right: 15px;
        padding-left: 15px;
        border: 1px solid black;            
        overflow: hidden; 
        &:active{
            border: 3px solid black;
        }
    }        
    }    

  